.navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 420px;
  background-color: #1c1c1e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
  border-top: 1px solid #333;
  z-index: 9999; /* Make sure it's above all other content */
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  color: #888;
  font-size: 0.75rem;
  cursor: pointer;
}

.icon {
  font-size: 1.25rem;
  margin-bottom: 2px;
}

.label {
  font-size: 0.65rem;
  color: #aaa;
}

.primary {
  color: #64c8ff;
  font-size: 2rem;
}

.centerItem {
  margin-top: -1rem;
  background-color: #1c1c1e;
  border-radius: 50%;
  padding: 0.4rem;
}

.container {
  background-color: #0f0f0f;
  color: white;
  padding: 1rem;
  padding-bottom: 5rem; /* space for bottom navbar */
  min-height: 100vh;
}

.active {
  background-color: #32352c;
  color: #64c8ff;
  padding: 0.5rem;
  border-radius: 50%;
}
